<!DOCTYPE html>
<html>
<head>
    <title>Text Field Demo 2</title>
</head>
<body>
    @{
        string numberOfPicks = Request.Form["numberOfQuickPicks"];
        if (IsPost)
        {
            int numberOfQuickPicks = int.Parse(numberOfPicks);
            Random numberGenerator = new Random();
            for (int counter = 1; counter <= numberOfQuickPicks; counter++)
            {
                <span>Quick Pick #@counter:</span>
                for (int number = 1; number <= 6; number++)
                {
                    int randomNumber = numberGenerator.Next(1, 50);
                    <span>@randomNumber &nbsp;</span>
                }
                <br />
            }
        }
    }
    <form method="post">
        Number of 649 quick picks:
        <input type="text" name="numberOfQuickPicks"
               required="required" />
        <input type="submit" value="Generate" />
    </form>
</body>







</html>
